@model LibraryData.Models.FileUpload
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 class="text-center">Upload Files</h1>
<div class="text-center">
    <section>
        <form method="post" enctype="multipart/form-data"
              asp-controller="FileUpload" asp-action="UploadFile">
            <div class="form-group">
                <div class="col-md-10">
                    <input asp-for="@Model.Images" type="file" multiple/>
                    <button type="submit" class="btn btn-outline-dark">Submit File</button>
                </div>
            </div>
        </form>
    </section>
</div>
